<h1>Welcome To Brew Bank!</h1>

<%= link_to "Login With Username", login_path %><br>

<%= button_to 'Log in with Google!', '/auth/google_oauth2' %>

<%= button_to 'Log in with Facebook!', '/auth/facebook' %>

<%= button_to 'Log in with Github!', '/auth/github' %>
