<% if params[:beer_id] %> 
    <h1> All Reviews for <%= @beer.name %> </h1>
  <% else %>
    <h1> All Reviews </h1>
 <% end %>

<% @reviews.each do |review| %> 
  <p> <%= link_to review.title, review_path(review.id) %> </p>
  <p> Rating: <%= review.rating %></p>
  <p> Posted by <%= review.user.username %> </p><br>
<% end %>